/* font styles  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
.banner-section {
    background-image: url(../assets/Hero-bg.png);
    max-width: 1440px;
    height: 640px;
    
}
.banner-content {
    width: 998px;
    height: 570px;
    margin-top: 26px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}
.banner-hero-section{
    text-align: center;
}
.banner-hero-section p{
opacity: 70%;
}
.btn{
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 12px 18px;
    font-size: smaller;
    border-radius: 6px;
}
.banner-hero-section p{
    color: #0D1321;
    font-size: 16px;
}
.banner-hero-section h1{
    color: #0D1321;
    font-size: 48px;
}
.web-devlopment-container{
    width: 80%;
    height: 1390px;
    margin: 0 auto;
    border: 1px solid #070159;
    margin-top: 75px;
    background-color: #FAFAFB;
    border-radius: 10px;
}
.title-container{
    
    text-align: center;
    margin-top: 75px;
}
.title-container h1{
    font-size: 32px;
}
.title-container p{
    font-size: 16px;
    opacity: 70%;
}
.fast-layer{
    width: 86%;
    height: 335px;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    background-color: white;
}
.leyer-text{
    width: 450px;
    height: 220px;
    margin: 50px 40px;
    color: #0D1321;
    opacity: 70%;
    
}
.leyer-image{
    width: 270px;
    height: 220px;
    margin: 50px 40px;
}


