/* font styles  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
.banner-section {
    background-image: url(../assets/Hero-bg.png);
    max-width: 1440px;
    height: 640px;
    
}
.banner-content {
    width: 998px;
    height: 570px;
    margin-top: 26px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}
.banner-hero-section{
    text-align: center;
}
.banner-hero-section p{
opacity: 70%;
}
.btn{
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 12px 18px;
    font-size: smaller;
    border-radius: 6px;
}
.banner-hero-section p{
    color: #0D1321;
    font-size: 16px;
}
.banner-hero-section h1{
    color: #0D1321;
    font-size: 48px;
}
.web-devlopment-container{
    width: 80%;
    height: 1390px;
    margin: 0 auto;
    border: 1px solid #070159;
    margin-top: 75px;
    background-color: #FAFAFB;
    border-radius: 10px;
}
.title-container{
    
    text-align: center;
    margin-top: 75px;
}
.title-container h1{
    font-size: 32px;
}
.title-container p{
    font-size: 16px;
    opacity: 70%;
}
.fast-layer{
    width: 86%;
    height: 335px;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    background-color: white;
}
.leyer-text{
    width: 450px;
    height: 220px;
    margin: 50px 40px;
    color: #0D1321;
    opacity: 70%;
    
}
.leyer-image{
    width: 270px;
    height: 220px;
    margin: 50px 40px;
}
.inspiration-section{
    width: 80%;
    height: 750px;
    margin: 0 auto;
    margin-top: 90px;
}
.inspiration-content{
    width: 80%;
    height: 112px;
    margin: 0 auto;
    text-align: center;
}
.inspiration-content p{
    opacity: 70%;
}
.inspiration-video{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    border: 0.5px solid #0D1321;
    border-radius: 10px;
}
.inspiration-youtube-video{
    width: 930px;
    height: 520px;
    margin-top: 35px;
    margin-left: 45px;
    border-radius: 10px;
}
.current-target{
    width: 80%;
    height: 450px;
    margin: 0 auto;
    margin-top: 90px;
}
.target-content{
    width: 80%;
    height: 112px;
    margin: 0 auto;
    text-align: center;
    
}
.target-name{
    width: 330px;
    height: 290px;
    margin-top: 40px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #facabe42;
}
.name-text{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
.target-name2{
    width: 330px;
    height: 290px;
    margin-top: 40px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #97b7f815;
}
.target-name3{
    width: 330px;
    height: 290px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #f5ecb170;
}
.all-name{
    display: flex;
}
.current-target p {
opacity: 70%;
}
.support-section{
    width: 80%;
    height: 310px;
    margin: 0 auto;;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 45px;
}
.support-content{
    width: 60%;
    height: 100px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}
.submit-content{
    margin-top: 30px;
    text-align: center;
}
.submit-content input{
    width: 545px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.submit-content button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
    font-size: 18px;
}
.submit-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-content p{
    opacity: 70%;
}
.footer-section{
    width: 100%;
    height: 100px;
    margin-top: 60px;
    border-radius: 10px 10px 0 0;
    background-color: #e9e6e6a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section p{
    margin-left: 100px;
    margin-right: ;
}
.social-media{
    margin-right: 100px;
}
